//Font
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSize: 1.35rem;

//Colors
$primaryColor: #fff;
$secondaryColor: #fac863;
$mutedColor: #6699cc;
$linkColor: #42affa;

$backgroundColor: #1b2b34;
